body, header, nav, main, footer, table, th, td, tr {
	color: black;
	background-color: white;
}

tr img {
	display:none;
}

img {
	filter: grayscale(100%);
}

footer {
	display:none;
}

nav {
	display:none;
}
